@font-face{
	font-family: bree;/*colocamos el tipo de fuente que queromos colocar al texto*/
	src: url(fuente/BreeSerif-Regular.ttf);

}
html{
		background-image: url(../imagenes/fondo4.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%  100%;
		background-attachment: fixed;
}
.Contenedor{
	width: 450px;
	background-color: rgba(0,0,0,0.51);
	padding: 35px 45px 35px 50px;
	margin: auto;
	margin-top: 65px;
	border-radius: 9px;
}

 .input{
	 color:#3c3c3c;
	 font-family:principal;
	 font-size:18px;
	 line-height:22px;
	 background-color:#fbfbfb;
	 padding: 13px 13px 13px 54px;
	 margin-bottom:10px;
	 width:100%;
	 box-sizing:border-box;
	 
 }

  .input:focus{/*dando color de borde a los espacios del formulario*/
	 background-color:#fff;
	 border: 3px solid #3498db;
	 color:color:#1b8f31;
	 padding: 13px 13px 13px 54px;
	 
 }
 
 select{
 	 color:#3c3c3c;
	 font-family:principal;
	 font-size:18px;
	 line-height:22px;
	 background-color:#fbfbfb;
	 padding: 13px 13px 13px 54px;
	 margin-bottom:10px;
	 width:100%;
	 box-sizing:border-box;

 }

 textarea{
	 width:100%;
	 height:150px;
	 line-height:150%;
	 resize:vertical;
	 
 }